/* Styling left box  */
.left_box{
    /* border:2px solid red; */
    width:50vh;
    height: 150vh;
    background-color: rgba(106 ,114 ,96,0.3);
    color:white;
    margin:0px;
}
/* Making margin and padding of they page zer */
*{
    margin:0px;
    padding: 0px;
}
.right_box{
    /* border:2px solid red; */
    width:100pvh;
    margin-left:.30px;
}
/* Styling for my name Prajjwal Singh */
h1{
    padding-left: 10vh;
    margin-top: 5vh;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.catelog{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    padding:6vh;
    margin: 5vh;;
    transition: all 1sec ease-in-out;
}
.icon :hover{
    transform: scale(1.5);
}
img:hover{
    background-color: blue;
}
/* personal Profile pic  */
.image{
    align-content: center;
    align-items: center;
    padding-left: 2vh;
}
img{
    width: 20vh;
    height:20vh;
    margin-top:5vh;
    padding: 3vh; 
    border-radius: 40px;
    margin:1vh
}
.heading{
    text-decoration: underline;
    margin-top:5vh;
    margin-bottom: 2vh; 
    text-align: center;
}
.heading h1{
    font-size: 5vh;
    background-image: radial-gradient(circle ,red ,blue,green);
    width:20vh;
    margin-left: 5vh;
}
/* Main class of Social Media icon */
.Main_Reference_Icon{
    margin-left: 5vh;
    margin-top: 28vh;
    display: flex;
    width: 38vh;
    height: 8vh;
    background-color:rgba(106 ,114 ,96,0.3);
}
/* Styling for Social Media icon */
.Reference_Icon{
    align-items: center;
    display: inline ;
    filter: grayscale(100%);
    width:5vh;
    padding :2px;
    height:5vh;
    
}
.main{
display: flex;
flex-direction: row;
/* padding: 10px; */
}
.Main_Reference_Icon a:hover{
    background-color: gold;
}
#maineImage:hover{  
    background-color: rgba(106 ,114 ,96,0);
}
#maineImage{
    width:40vh;
    height:40vh;

}
.tab:hover{
    background-color: royalblue;
}
.tab{
    border:2px inset rgba(23, 6, 7, 0.4);
    border-radius: 8px;
    font-size: 8vh;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}
p{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    text-align: center;
    margin-top: 5vh;
    background-image: linear-gradient(to right, red ,green, blue);

}
a{
    font-size: 7vh;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
h1{
    color: red;
}
.Main_tab{
    padding-top: 5vh;
}